<div class="form">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>LogIn</h3>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="loginForm.controls['email'].invalid">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="loginForm.controls['password'].invalid">
        Please enter a password.
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Submit
    </button>

    <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
  </form>
</div>
